<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <table class="table table-striped">
        <tr>
            <th>Category</th>
        </tr>

        <tr th:each="category : ${categories}">
            <td th:text="${category.name}">category</td>
        </tr>
    </table>
    <a href="/addcategory" class="btn btn-success">Add a new category</a>
</body>
</html>